header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    border: var(--main-border);
    background-color: var(--element-background);
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header > div {
    height: 100%;
}

#link-to-index {
    width: 90px;
    align-items: center;
    justify-content: space-evenly;
    border-right: var(--main-border);
}

#link-to-index > h1 {
    color: var(--heading-text);
    text-align: center;
    height: auto;
    text-shadow: 6px 4px 2px var(--shadow-color-2);
}

#link-navigator {
    width: 45%;
    align-items: center;
    justify-content: space-around;
    border-left: var(--main-border);
    border-right: var(--main-border);
}

#link-navigator > * {
    color: var(--main-text);
    text-shadow: 4px 2px 1px var(--shadow-color-1);
    transition: color 0.2s ease;
}

#color-changer {
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    border-left: var(--main-border);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#color-changer:hover {
    background-color: var(--element-background-hover);
}

#color-changer > img {
    width: 48px;
    height: 48px;
    filter: drop-shadow(2px 2px 4px var(--shadow-color-1));
    transition: filter 0.3s ease;
}

@media (max-width: 750px) {
    #link-navigator > * {
        font-size: 3.5vw;
    }
}